fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
python-dotenv
openai
langchain
langchain-openai
langgraph
httpx
requests
psycopg2-binary
bcrypt==3.1.7
email-validator
